<% var title = 'Pictionnary - Profile' %>
<% include head %>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1><span class="color:<%= session.color%>"><%= session.prenom%> <%= session.nom%></span></h1>

                <div class="row">
				
                    <div class="col-md-4">
                        <img src="<%=session.avatar%>" class="img-thumbnail" alt="avatar">
                    </div>
					
                    <div class="col-md-8">
                        <ul class="profil">
                            <li><b>Date de naissance :</b> 		<%= session.birthdate%>	</li>
                            <li><b>Numéro de téléphone :</b> 	<%= session.tel%>		</li>
                            <li><b>Site web :</b> 				<%= session.website%>	</li>
                            <li><b>Sexe :</b> 					<%= session.sexe%>		</li>
                        </ul>
                    </div>
					
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot %>